/*
    @name:addcompetition.css
    @require:addcompetition.html
    @description:添加竞赛信息页面样式表
    @author:张乃璎 fnine59@163.com
*/
.formDiv{
    width: 60%;
    margin: 1% 20% 0% 20%;
}
td,th{
    padding: 1% 0% 1% 0%;
}
th{
    width: 15%;
}
.tableFormat{
    width: 100%;
    border: none;
}
