/*
    @name:addcompetition.css
    @require:addcompetition.html
    @description:濞ｈ濮炵粩鐐剁娣団剝浼呮い鐢告桨閺嶅嘲绱＄悰锟�
    @author:瀵姳绠栭悹锟� fnine59@163.com
*/
.formDiv{
    width: 60%;
    margin: 1% 20% 0% 20%;
}
td,th{
    padding: 1% 0% 1% 0%;
}
th{
    width: 15%;
}
.tableFormat{
    width: 100%;
    border: none;
}
